@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <p>Aprenda sobre</p>
    <p><a href="https://learn.microsoft.com/aspnet/core"><p>ASP.NET Core</p></a></p>
    <p>Construindo aplicativos da web com ASP.NET Core</p>
</div>